/* Reset some default styles */
body, h1, ul, li, p, button, input {
    margin: 0;
    padding: 0;
}

/* Set a dark gradient background and text color for the body */
body {
    background: linear-gradient(135deg, #222, #333);
    color: #fff;
    font-family: 'Balsamiq Sans', cursive;
}

/* Center the container */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Add a subtle transparent white background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the header */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

/* Style the task form */
#task-form {
    display: flex;
    justify-content: space-between;
}

#new-task {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Add a subtle transparent white background */
    color: #fff;
}

/* Style the task list */
#task-list {
    list-style: none;
}

#task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1); /* Add a subtle transparent white background */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
}

/* Style the delete button */
.btn-primary {
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Style the form input */
/* Style the form input */
.form-control {
    width: 100%; /* Adjust the width to 100% for a full-width input */
    padding: 10px;
    border: none;
    border-radius: 25px; /* Adjust the border-radius to create a rounded shape */
    background-color: rgba(255, 255, 255, 0.1); /* Add a subtle transparent white background */
    color: #fff;
    outline: none; /* Remove browser's default outline on input focus */
    transition: background-color 0.3s;
}

/* Add a placeholder style (optional) */
.form-control::placeholder {
    color: #ccc;
}

/* Style the form submit button */
.btn {
    min-width: 30%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px; /* Match the input's border-radius */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Remove browser's default outline on input focus */
input:focus {
    outline: none;
}
